---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "January 2024",
    title: "Microservices Backend Developer - Bank App",
    description:
      "As a Backend Developer at Bank-App, I implemented the API Gateway with Keycloak, optimized the performance of microservices by 15% and strengthened security with technologies such as Spring Cloud, Docker, OAuth2 and JWT.",
  },
  {
    date: "October 2023",
    title: "Backend Java Developer  − Prestige Pizza",
    description:
      "Developed and configured the complete backend for PrestigePizza, managing a Pizza warehouse with key functions such as customer management, invoices and custom filters. Ensured security with role systems, permissions and JWT authentication, and enabled project scalability using Docker. Technologies used: MySQL, Hibernate, JWT, Spring, Docker, among others.",
  },
  {
    date: "August 2023",
    title: "Backend Developer  − Supermarket Api",
    description:
      "I developed an API in Java Spring to monitor operations of a supermarket, solidly integrating PostgreSQL. I designed efficient services for product management and deployed the application without complications, using technologies such as Spring Boot, Spring Data JPA and Swagger to ensure its robustness and functionality.",
  }
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
