---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Enero 2024",
    title: "Microservices Backend Developer - Bank App",
    description:
      "Como Desarrollador Backend en Bank-App, implementé el API Gateway con Keycloak, optimicé el rendimiento de microservicios en un 15% y fortalecí la seguridad con tecnologías como Spring Cloud, Docker, OAuth2 y JWT.",
  },
  {
    date: "Octubre 2023",
    title: "Backend Java Developer  − Prestige Pizza",
    description:
      "Desarrollé y configuré el backend completo para PrestigePizza, gestionando un almacén de Pizzas con funciones clave, como la gestión de clientes, facturas y filtros personalizados. Garanticé la seguridad con sistemas de roles, permisos y autenticación JWT, y habilité la escalabilidad del proyecto mediante Docker. Tecnologías utilizadas: MySQL, Hibernate, JWT, Spring, Docker, entre otras.",
  },
  {
    date: "Agosto 2023",
    title: "Backend Developer  − Supermarket Api",
    description:
      "Desarrollé una API en Java Spring para supervisar operaciones de un supermercado, integrando sólidamente PostgreSQL. Diseñé servicios eficientes para la gestión de productos y desplegué la aplicación sin complicaciones, empleando tecnologías como Spring Boot, Spring Data JPA y Swagger para garantizar su robustez y funcionalidad.",
  }
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
